.image-view{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.1, 0, 2); /* Optional shadow effect */
}

.image-view:hover {
    -fx-border-color: #3498db; /* Change to a different color on hover */
    -fx-effect: dropshadow(gaussian, rgba(46, 204, 113, 0.8), 15, 0.5, 0, 2); /* Optional: change shadow effect */
    -fx-cursor: hand; /* Changes the cursor to a hand to indicate it's clickable */
}
